*{
  font-family: 'Times New Roman', Times, serif ;
}
body{
  background-color: rgb(106, 114, 93);
  margin-left:5vw;
  margin-right:5vw;
}
h1{
  text-align:center;
}
h2{ 
  text-align:center;
}
p{
  text-align:center;

}
ul{
  text-align: left;
  margin-left:10vw;
  margin-right:10vw;
 
}
a{

}
.wrapper{
  background-color: tan;
}
.as{
  background-color:rgb(220, 190, 195);
  margin:5vw;
  margin-bottom: 5vh;
}