*{
   
    padding:0;
    margin:0;
}
body{
    background-color:rgb(198, 180, 157);
}
img{
    width:50vw;
    margin:1vw;
}
p{
    background-color: wheat;
    text-align: center;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:1vw;
}
.wrapper{
    background-color:transparent;
    display:flex;
    flex-direction: column;
    width:50vw;
    height:auto;
    margin:1vw;
}
.picture{
    background-color:teal;
    /* height:10vh;   */
    /* width:30vw;
    margin:2vh; */
    margin:1vw;
    width:40vw;
    height:100vh;
   
}
.textbox{
    background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.text{
    position:fixed;
    top:10vh;
    right: 1vw;
    width: 40vw;
    height: 80vh;
    
    overflow: scroll;
    text-align: center;

    background-color: wheat;
    border: 1px dashed brown;
}